html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.bingo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bingo-table {
    border-collapse: collapse;
    margin: auto;
}

.bingo-tablecell {
    padding: 5px;
}

.bingo-tablebutton {
    width: 200px;
    height: 100px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
}

.bingo-tablebutton:hover {
    background-color: #ddd;
}

.bingo-tablebuttonactive {
    width: 200px;
    height: 100px;
    background-color: #90EE90;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
}