@page "/admin"
@rendermode InteractiveServer


<PageTitle>Admin Page</PageTitle>

<div class="modalpw-overlay" style="@(_isVisible ? "display: block;" : "display: none;")">
    <div class="modalpw-content">
        <h2>Bitte Password und User eingeben:</h2>
        <div class="modalpw-input">
            <input class="inputfield" type="text" placeholder="Username" @bind="inputuser">
            <input class="inputfield" type="password" placeholder="Passwort" @bind="inputpw">
        </div>
        <button class="buttonmain" @onclick="checkPW">Anmelden</button>
    <p style="color:red; margin: 10px;">@message</p>
    </div>
</div>


<h1>Admin Page</h1>
<div>
    <h2>Please enter new Words:</h2>
    <div>
        <input class="inputfield" type="text" @bind="newWord">
    </div>
    <button class="buttonmain" @onclick="addWord">Add</button>
    <button class="buttonmain" @onclick="save">Save to File</button>
</div>

<!-- TODO: 
- Add table with all words
- Buttons to delete words
- Buttons to change words
-->


@code {

    private NewBingo? bingo = new NewBingo();
    private AdminController admin = new AdminController();

    //new words:
    private string? newWord { get; set; }

    //Message vor false PW:
    private string message = "";
    
    //User Input
    private string? inputpw { get; set; }
    private string? inputuser { get; set; }

    //pshhhh no pw here :D
    private string pw = "admin";
    private string user = "admin";

    //bool for pop up
    private bool _isVisible = true;

    private void checkPW() {
        message = "";
        if(!string.IsNullOrEmpty(inputpw) && !string.IsNullOrEmpty(inputuser)) {
            if(inputpw == pw && inputuser == user)
                _isVisible = false;
            else message = "Falscher Benutzer / Falsches Passwort!";
        } else {
            message = "User und Passwort dürfen nicht leer sein!";
        }

    }
    private void addWord() {
        Console.WriteLine(newWord);
        if(!string.IsNullOrEmpty(newWord)) {
            bingo?.newWordslist.Add(newWord!);
            newWord = "";
        }
    }
    private void save() {
        admin.data = bingo;
        admin.wordhandler();
    }
}
