html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

.bingo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bingo-table {
    border-collapse: collapse;
    margin: auto;
}

.bingo-tablecell {
    padding: 5px;
}

.bingo-tablebutton {
    width: 200px;
    height: 100px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
}

.bingo-tablebutton:hover {
    background-color: #ddd;
}

.bingo-tablebuttonactive {
    width: 200px;
    height: 100px;
    background-color: #90EE90;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
}

@media (max-width: 640.98px) { 
    .bingo-tablecell {
        padding: 2.5px;
    }
    
    .bingo-tablebutton {
        width: 70px;
        height: 50px;
        background-color: #f0f0f0;
        border: none;
        cursor: pointer;
        font-size: 10px;
        text-align: center;
    }
    .bingo-tablebuttonactive {
        width: 70px;
        height: 50px;
        background-color: #90EE90;
        border: none;
        cursor: pointer;
        font-size: 10px;
        text-align: center;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 90%;
    width: 400px;
    box-sizing: border-box;
}

.buttonmain {
    border-radius: 8px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 9px;
    font-size: 17px;
}

.buttonmain:hover {
    background-color: #ddd;
}


/** Password pop up **/

.modalpw-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalpw-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 90%;
    width: 400px;
    height: 300px;
    gap: 10px;
    box-sizing: border-box;
}
.modalpw-input {
    border-radius: 8px;
    padding: 5px;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modalpw-inpu.modalpw-inpu {
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    border-color: black, black;
}

/** Add section **/

.bingo-addword {
    margin: 20px;
}

.bingo-table-add-container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.bingo-table-add {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000;
}

.bingo-table-add th, .bingo-table-add td {
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 10px;
    padding-right: 50px;
    text-align: left;
}

.bingo-table-add thead {
    background-color: #f2f2f2;
}