html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    display: block;
}

.bingo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.bingo-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin: auto;
}

.bingo-tablebutton {
    width: 150px;
    height: 100px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
}

.bingo-tablebutton:hover {
    background-color: #ddd;
}